<div class="container">   

    <div class="myMenu">

        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <a href="/home">PORTFOLIO <i class="fa fa-briefcase icon-design"></i></a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <a href="/work">MY WORKS <i class="fa fa-flag-checkered icon-design"></i></a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <a href="/contact">CONTACTS <i class="fa fa-send icon-design"></i></a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <a href="/contact">CONTACTS2 <i class="fa fa-send icon-design"></i></a>
        </li>

    </div> 

</div>
<hr>